.fbm-top {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 250px;
  height: 250px;
  padding: 0;
  z-index: 9527;
  /* A large number, thank you 9527 */ }
  .fbm-top:hover .dropdown .button {
    opacity: 1; }
  .fbm-top .dropdown.active .button {
    top: -5px;
    border-bottom: #888888 solid 10px; }
  .fbm-top .dropdown:not(.active) .button {
    top: 10px;
    border-top: #888888 solid 10px; }
  .fbm-top .dropdown:not(.active) .button:hover {
    border-top: white solid 10px; }
  .fbm-top .dropdown:not(.active) .menu {
    max-height: 0px;
    overflow: hidden;
    opacity: 0; }
  .fbm-top .dropdown .button {
    position: absolute;
    right: 10px;
    opacity: 0;
    border: solid transparent 15px;
    transition: all 0.5s; }
  .fbm-top .dropdown ul.menu {
    max-height: 200px;
    position: absolute;
    width: 100%;
    background-color: black;
    opacity: 0.8;
    transition: all 0.5s; }
    .fbm-top .dropdown ul.menu li {
      font-size: 20px;
      color: white;
      padding: 5px 10px;
      transition: all 0.5s;
      border-bottom: white solid 1px; }
      .fbm-top .dropdown ul.menu li:last-child {
        border-bottom: none; }
      .fbm-top .dropdown ul.menu li:hover {
        background-color: #555; }
