$character-w: 250px;
$character-h: 250px;
$msg-box-w: 230px;
$msg-box-h: 60px;
$msg-padding-x: 15px;
$msg-padding-y: 5px;
$msg-box-border: 2px;
$msg-box-inner-w: $msg-box-w - 2*($msg-box-border + $msg-padding-x);
$msg-box-inner-h: $msg-box-h - 2*($msg-box-border + $msg-padding-y);
$msg-box-bottom: 10px;
$msg-box-radius: 5px;
