@import "character_variables";
.fbm-top {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: $character-w;
	height: $character-h;
	padding: 0;
	z-index: 9527; /* A large number, thank you 9527 */

	&:hover .dropdown .button {
		opacity: 1;
	}

	& .dropdown {
		$triangle-height: 10px;
		$triangle-width: 30px;
		$triangle-margin-y: 10px;
		&.active {
			& .button {
				top: $triangle-margin-y - $triangle-width*0.5;
				border-bottom: #888 solid $triangle-height;
			}
		}

		&:not(.active) {
			& .button {
				top: $triangle-margin-y;
				border-top: #888 solid $triangle-height;
			}
			& .button:hover {
				border-top: #FFF solid $triangle-height;
			}
			& .menu {
				max-height: 0px;
				overflow: hidden;
				opacity: 0;
			}
		}

		& .button {
			position: absolute;
			right: 10px;
			opacity: 0;
			border: solid transparent $triangle-width*0.5;
			transition: all 0.5s;
		}

		& ul.menu {
			max-height: 200px;
			position: absolute;
			width: 100%;
			background-color: black;
			opacity: 0.8;
			transition: all 0.5s;

			& li {
				font-size: 20px;
				color: white;
				padding: 5px 10px;
				transition: all 0.5s;
				border-bottom: white solid 1px;
				&:last-child {
					border-bottom: none;
				}
				&:hover {
					background-color: #555;
				}
			}
		}
	}

	@import 'character';
}

/* Facebook notification */
._50d1 {
	bottom: 280px !important;
}
